<div class="skeleton">
    <a class="product_item ">
        <div class="sale">
            <span></span>
            <p></p>
        </div>
        <div class="star">
            <!-- <svg width="24" height="24">
                <use xlink:href="#productStars"></use>
            </svg> -->
        </div>
        <div class="prod_img">
            <img class="img">
            <!-- <svg>
                <use xlink:href="#logo_svg"></use>
            </svg> -->
        </div>
        <div class="prod_desc">
            <span class="product_name"></span>
            <span class="type_product"><span></span><br>
                <span></span>
            </span>
        </div>
        <div class="price_block">
            <!-- <div class="sale">
                <span></span>
                <p></p>
            </div> -->
            <span class="old_price"><span></span></span>
            <p class="price"><span> </span></p>
            <!-- <p class="price"><span> </span></p> -->
        </div>
        <button class="btn"></button>
        <!-- <div class="add_product">
            <div class="product_counter">
                <button class="button_count">
                    <svg>
                        <use xlink:href="#icon_minus"></use>
                    </svg>
                </button>
                <input>
                <div class="tooltip_prod">
                    <span></span>
                </div>
                <button class="button_count">
                    <svg>
                        <use xlink:href="#icon_plus"></use>
                    </svg>
                </button>
            </div>
            <button class="remove_product">
                <svg>
                    <use xlink:href="#icon_delete"></use>
                </svg>
            </button>
        </div> -->
    </a>
</div>