// colors
$green: #FF7308;
$greenHover: rgb(238, 103, 0);
$black: #1F232D;
$white: #ffffff;
$red: #FF0201;
$redHover: #FF7308;
$btnMoreBg:#C8DB7F;
$textGrey: #000000;
$textGreyLight: #000000;

// transitions
$transitionDuration: .2s;
$transitionDuration2: .5s;
$transitionDelay: .2s;
$transitionType: ease-in-out;

$lines-to-show: 3;
$font-size-product: 15px;
$line-height-product: 1.2;
$font-size-page-product: 24px;
$line-height-page-product: 1.2;
$font-size-product-mobile: 12px;
