.promocode-enter {
    background-color: #F3F6F7;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    display: block;
    padding: 12px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-bottom: 15px;
}

.promocode-button {
    border: 1px solid #FB5E54;
    color: #FB5E54;
    width: 100%;
    padding: 12px;
    text-align: center;
    height: 40px;
    font-size: 13px;
    font-weight: 500;
    background-color: transparent;
    line-height: 1;
    border-radius: 4px;
}