<div class="container-fluid cont">
  <div class="container cont_body main-container cart-container">
    <section class="not_found cont">
      <div class="container">
        <div class="row no-gutters align-content-center align-items-center no_gutters_align-content-center">
          <div class="col-md-6 col-12 order-md-1 col_md_6_col-12">
            <h1 class="col_md_6_fh1">
              Такая страница у нас отсутствует.
            </h1>
            <p class="col_md_6_fp">Не беспокойтесь, просто перейдите в наш каталог товаров.</p>
            <a class="col_md_6_fa" [routerLink]="['/category']">Перейти в каталог</a>
          </div>
          <div class="col-md-4 offset-md-1 offset-sm-2 content-not-found col-sm-8 order-md-2 col_md_4_offset_md_1">
            <img src="assets/images/404.svg" class="img-fluid">

            <!--<span class="error">404</span>
            <svg class="img-error">
              <use xlink:href="#404not_found"></use>
            </svg>-->
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
